use [ASQLGroup]
GO
GRANT CREATE TABLE TO [dbAccessor]
GO
use [ASQLGroup]
GO
GRANT DELETE TO [dbAccessor]
GO
use [ASQLGroup]
GO
GRANT EXECUTE TO [dbAccessor]
GO
use [ASQLGroup]
GO
GRANT INSERT TO [dbAccessor]
GO
use [ASQLGroup]
GO
GRANT SELECT TO [dbAccessor]
GO
use [ASQLGroup]
GO
GRANT TAKE OWNERSHIP TO [dbAccessor]
GO
use [ASQLGroup]
GO
GRANT UPDATE TO [dbAccessor]
GO
